.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: var(--color-light-gray);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}